<div class="container container-fluid">
    <h3>Something did not go right with that entry!</h3>
    <small>But we do think we can help you with what went wrong!</small>
    <br /><br />
</div>


<div class="container container-fluid">
    <div>
        <p>
            What we think might have happened:
            <ul>
                <li>The entry already exists in which case an ISBN duplication is detected by the system. Please check our library section <a asp-controller="Library" asp-action="Library">here</a> to see if the entry exists.</li>
                <li>There were uacceptable characters in the entry.</li>
            </ul>
        </p>
        <br /><br />
        <p>Please feel free to try again! Albeit with a little more care! Here, we'll even provide you with the <a asp-controller="AddBook" asp-action="AddPage">link</a>. We're cool like that!</p>
    </div>
</div>