<div class="container container-fluid">
    <form method="post" action ="/SearchBook/SearchBook">
        <div class="form-group">
            <label for="keyword">Search Keyword:</label>
            <input type="text" name ="keyword"class="form-control" id="keyword" aria-describedby="keywordHelp" required>
            <small id="keywordHelp" class="form-text text-muted">Provide us with a name or atleast a part of it so that we can search our databases for you!</small>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>    
</div>